{% include 'inc/head.inc.html' %}

{% include 'inc/navbar.inc.html' %}

<body style="background-color: #ffffff;">

    <div class="container">
        <div class="row" style="width: 100%;">
            <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 90vh">
                <div class="my-form" style="width: fit-content;">
                    
                    <h3 class="text-primary">Login here!</h3>
                    <div class="alert alert-success mt-3" style="display: none;" role="alert" id="success">
                    </div>
    
                    <form autocomplete="off" style="text-align:center; margin-top: 30px; width: 350px;" action="login" method="POST">
                        {% csrf_token %}
                        <!-- <i class="material-icons pro">account_circle</i> -->
                        <input class="field form-control" id="email" value="{{email}}" name="email" type="email" placeholder="Email" required>
                        <input class="field form-control" id="passowrd" value="{{password}}" name="password" type="password" placeholder="Password" required>
                        <p id="error" 
                            style="
                                text-align: left; 
                                transition-duration:0.25s;
                                color:#ed4337;"
                            >
                        </p>
                        <button class="btn btn-block btn-primary" type="submit">NEXT</button>        
                        <p class="my-4">Never registered before?</p>
                        
                        <div class="row">
                            <div class="col-sm-6 py-2">
                                <a href="register/freelancer"><button class="btn btn-block btn-secondary" type="button">Freelancer</button></a>
                            </div>
    
                            <div class="col-sm-6  py-2">
                                <a href="register/client"><button class="btn btn-block btn-secondary" type="button">Client</button></a>
                            </div>
                        </div>
                    </form>
    
                </div>
            </div>
        </div>  
    </div>
     
</body>

</html>


<script>
    var message = `
    
            {% for message in messages %}
                {{ message }}
            {% endfor %}
    
    `.trim();

    if (message != "" && message == "Your account has been created successfully!") {
        $("#success").css('display', '');
        $("#success").text(message);
    }else{
        $("#success").css('display', 'none');
        $("#error").text(message);
    }


</script>

