{% include 'inc/head.inc.html' %}

{% include 'inc/navbar.inc.html' %}

<body style="background-color: #ffffff;">
    <br>
    <div class="container">
        <div class="row" style="width: 100%;">
            <div class="col-12 d-flex justify-content-center align-items-center" style="min-height: 85vh">
                <div class="my-form" id="mainDiv">
                    <h3 class="text-primary">Register as Freelancer</h3>
    
                    <form autocomplete="off" style="text-align:center; margin-top: 30px;" action="createFreelancer" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
    

                        <div class="row">
                            <div class="col-sm-6 my-1">
                                <input class="field form-control my-2" id="firstName" name="firstName" type="text" value="{{firstName}}" placeholder="First name" required>
                            </div>
    
                            <div class="col-sm-6 my-1">
                                <input class="field form-control my-2" id="lastName" name="lastName" type="text" value="{{lastName}}" placeholder="Last name" required>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-sm-6 my-1">
                                <input class="field form-control my-2" id="email" name="email" type="email" value="{{email}}" placeholder="Email" required>
    
                            </div>
    
                            <div class="col-sm-6 my-1">
                                <input class="field form-control my-2" id="phone" name="phone" type="number" value="{{phone}}" placeholder="Phone number" required>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-sm-6 my-1">
                                <input class="field form-control my-2" id="city" name="city" type="text" value="{{city}}" placeholder="City" required>
                            </div>
    
                            <div class="col-sm-6 my-1">
                                <input class="field form-control my-2" id="homeAddress" name="homeAddress" type="text" value="{{homeAddress}}" placeholder="Home Address" required>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-sm-6 my-1">
                                <div class="form-group">
                                    <select class="field form-control my-2" name="speciality" required>
                                        <option value="">Speciality</option>

                                        {% for speciality in specialities %}
                                            <option value="{{speciality}}">{{speciality}}</option>
                                        {% endfor %}
                                       
                                    </select>
                                </div>
                            </div>
    
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6 my-1">
                                        <input class="field form-control my-2" id="postcode" name="postcode" type="text" value="{{postcode}}" placeholder="Postcode" required>
                                    </div>
        
                                    <div class="col-sm-6 my-1">
                                        <div class="form-group">
                                            <select class="field form-control my-2" name="level">
                                                <option value="">Level</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-sm-6 my-0">
                                <input class="field form-control my-2" id="pass1" name="pass1" type="password" value="{{pass1}}" placeholder="Password" required>                      
                            </div>
    
                            <div class="col-sm-6 my-0">
                                <input class="field form-control my-2" id="pass2" name="pass2" type="password" value="{{pass2}}" placeholder="Confirm Password" required>
                            </div>
                        </div>
    
                        <p id="error" 
                            style="
                                text-align: left; 
                                transition-duration:0.25s;
                                color:#ed4337;"
                            >
                            
                        </p>
    
                        <div class="row">
                            <div class="col-sm-2">
    
                            </div>
    
                            <div class="col-sm-8">
                                <div class="row">
    
                                    <div class="col-sm-6 py-2">
                                        <button class="btn btn-block btn-primary" style="height: 50px;" type="submit">CONFIRM</button>        
                                    </div>

                                    <div class="col-sm-6 py-2">
                                        <a href="{% url 'login' %}">
                                            <button class="btn btn-block btn-secondary" style="height: 50px;" type="button">LOGIN</button>
                                        </a>
                                    </div>
                                </div>
    
                            </div>
    
                            <div class="col-sm-2">
    
                            </div>
                        </div>
    
                    </form>

           
                </div>

                
                <br>
            </div>
        </div>  

    </div>
  
</body>

<script>
    var x = "{{border}}";
    if(x=="email"){
        $("#email").css(
            'border-color', '#ed4337'
        );

        $("#error").text("Entered email has already been registered!");

    }else if(x=="password"){
        $("#pass1, #pass2").css(
            'border-color', '#ed4337'
        );
        $("#error").text("Your password don't match!");

    }else if(x=="phone"){
        $("#phone").css(
            'border-color', '#ed4337'
        );

        $("#error").text("Entered phone number has already been registered!");

    };

</script>

</html>
